# # exclude everything
# somefolder/*

# # exception to the rule
# !somefolder/.gitkeep 

# file types that wont be tracked by Git
*.svo
*.svo2
*.avi
*.mp4
*.npy
*.npz
*.ply

# pycache folders
**/__pycache__/

results/*
debug_figs/*
stereo_videos/*

